#canvas-area {
    position: absolute;
    border: 1px solid #888;
    z-index: 0;
}
#game-area {
    z-index: 2;
}
#start {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
}